.chart-container-month{
	position: relative; 
	height:100%; 
	width:100%;
	padding-left: 20%;
}

.chart-container-agents{
	position: relative; 
	height:30vh; 
	width:40vw;
	margin-left: 35%;
	padding-top: 8%;

}

.chart-container-area{
	position: relative; 
	height:100%; 
	width:100%;
	padding-top: 40%;
	padding-left: 20%;
}

.chart-container-time{
	position: relative; 
	height:100%; 
	width:100%;
	padding-left: 20%;
	padding-top: 10%;

}