__pycache__/
*.pyc
*.sqlite3

\.cache/v/cache/
.cache/
cache/

coverage/PhantomJS 2\.1\.1 \(Linux 0\.0\.0\)/lcov-report/

*.info

node_modules/\.bin/

node_modules/abbrev/

node_modules/


package-lock\.json

celerybeat-schedule

celerybeat\.pid

# karma files

coverage/
npm-debug.log