{% extends 'quero_cultura/base.html' %}
{% load static %}

	{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
		<!-- Import necessário para seguir o padrão de implementação visual -->
	  <link rel="stylesheet" href="{% static 'css/indicators/indicators-navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/indicators/indicators-container.css' %}"/>

		<!-- Div responsável por imprimir a navbar dos indicadores de agentes -->

		<div class="container">
			<div class="segmented-control">
		    <input type="radio" name="sc-1-1" id="sc-1-1-1" value="#quantitativo-mensal" checked>
		    <input type="radio" name="sc-1-1" id="sc-1-1-2" value="#agentes-tipo">
		    <input type="radio" name="sc-1-1" id="sc-1-1-3" value="#agentes-area">
		    <input type="radio" name="sc-1-1" id="sc-1-1-4" value="#crescimento">

		    <label for="sc-1-1-1" data-value="Quantitativo Mensal">
					Quantitativo Mensal
				</label>

				<label for="sc-1-1-2" data-value="Agentes por Tipo">
					Agentes por Tipo
				</label>

				<label for="sc-1-1-3" data-value="Agentes por Área">
					Agentes por Área
				</label>

				<label for="sc-1-1-4" data-value="Crescimento da Plataforma">
					Crescimento da Plataforma
				</label>

			</div>
		</div>

		<!-- Área onde os graficos são printados -->
		<div class="container-indicators">

		</div>


		<!-- Imports necessários para funcionalidade da navbar e gráficos-->
		<script src="{% static 'js/indicators/indicators-nav-jquery.js' %}"></script>
    <script src="{% static 'js/chart_manager.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/graphics.js' %}" type="text/javascript"></script>
		<script type="text/javascript">

		</script>
{% endblock %}
