{% extends 'quero_cultura/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/indicators/indicators-navbar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/indicators/indicators-container.css' %}"/>
<link rel="stylesheet" href="{% static 'css/indicators/indicators-content.css' %}"/>

<div class="title">
    <center>
        <h1>
            Dados de Projetos
        </h1>
    </center>
</div>

<div class="col-md-12 container-indicators">
    <div class="row">

        {% for graphic in metabase_graphics %}
        <div class="col-md-4">
            <div id="area" class="chart-group">
                <div class="chart-container">
                    <iframe src={{graphic.url|safe}}></iframe>
                </div>
                <a href="{%url 'graphic_detail' graphic.id %}"">
                    <div class="text-chart-init">
                        <p>Adicionar descrição.</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
