{% extends 'quero_cultura/base.html' %}
{% load static %}

{% block content %}


<div class="chart-container" id="graphic"></div>

<script>

number = sessionStorage.getItem("num");
createGraphic(number)

function createGraphic (number) {
  console.log(number)
  switch(number) {
    case "1":
      createFrame("{{graphic1|safe}}", "#graphic")
      break;
    case "2":
      createFrame("{{graphic2|safe}}", "#graphic")
      break;
    case "3":
      createFrame("{{graphic3|safe}}", "#graphic")
      break;
    case "4":
      createFrame("{{graphic4|safe}}", "#graphic")
      break;
    case "5":
      createFrame("{{graphic5|safe}}", "#graphic")
      break;
}
}


function createFrame(graphicURL, locationId){
    var frame = '<iframe \
      src="' + graphicURL + '" \
      frameborder="0" \
      width="100%" \
      height="800" \
      allowtransparency \
    ></iframe>'
    $(locationId).append(frame)
  }


</script>
{% endblock %}