{% extends 'quero_cultura/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/indicators/indicators-navbar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/indicators/indicators-container.css' %}"/>
<link rel="stylesheet" href="{% static 'css/indicators/indicators-content.css' %}"/>

<div class="title">
    <center>
        <h1>
            Dados de Espaços
        </h1>
    </center>
</div>
<div class="container-indicators">
    <div class="row">
        <div id="area" class="col-md-4 center flex-column content-chart">
            <div class="chart-container" id="graphic1">
            </div>

            <div class="text-chart-init">
                <p>Este gráfico refere-se aos espaços por área de atuação separados por instância.</p>
            </div>
        </div>

        <div id="crescimento" class="col-md-4 center flex-column content-chart">
            <div class="chart-container" id="graphic2">
            </div>

            <div class="text-chart-init">
                <p>Este gráfico refere-se aos cadastros de espaços por mês.</p>
            </div>
        </div>


        <div id="registro-mes" class="col-md-4 center flex-column content-chart">
            <div class="chart-container" id="graphic3">
            </div>

            <div class="text-chart-init">
                <p>Este gráfico refere-se aos cadastros de espaços por mês.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="mes-instancias" class="col-md-4 center flex-column content-chart">
            <div class="chart-container" id="graphic5">
            </div>

            <div class="text-chart-init">
                <p>Este gráfico refere-se aos cadastros de espaços por ano.</p>
            </div>
        </div>

        <div id="tipo" class="col-md-4 center flex-column content-chart">
            <div class="chart-container" id="graphic4">
            </div>

            <div class="text-chart-init">
                <p>Este gráfico refere-se aos cadastros de espaços por ano.</p>
            </div>
        </div>
    </div>
</div>

<script>
    createFrame("{{graphic1|safe}}", "#graphic1")
    createFrame("{{graphic2|safe}}", "#graphic2")
    createFrame("{{graphic3|safe}}", "#graphic3")
    createFrame("{{graphic4|safe}}", "#graphic4")
    createFrame("{{graphic5|safe}}", "#graphic5")

    function createFrame(graphicURL, locationId){
        var frame = '<iframe \
          src="' + graphicURL + '" \
          frameborder="0" \
          width="100%" \
          height="400px" \
          allowtransparency \
        ></iframe>'
        $(locationId).append(frame)
    }
</script>

<script src="{% static 'js/indicators/indicators-nav-jquery.js' %}"></script>

{% endblock %}
