{% extends 'quero_cultura/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/indicators/indicators-container.css' %}"/>
<div class="title">
    <center>
        <h1>
            Dados de Espaços
        </h1>
    </center>
</div>
<div class="container-indicators">
    <div class="row">
        <div class="col-md-4 center flex-column content-chart">
          <a href="http://localhost:8000/space_indicators/graphic" onclick="javascript:graphicPicker(1)"style="color:gray; font-weight: bold;">
            <div class="border bg-white pv-10" >
              <span>Áreas de Atuação por Instância</span><br>
              <img src="http://discourse.metabase.com/uploads/default/original/1X/5665072d585a0cfeaa5c1142f4100b64f11b6b0a.png" height="350" width="350" alt="">
            </div>
          </a>
          <div class="text-chart-init">
              <p>Este gráfico refere-se aos espaços por área de atuação separados por instância.</p>
          </div>
        </div>

        <div class="col-md-4 center flex-column content-chart">
          <a href="http://localhost:8000/space_indicators/graphic" onclick="javascript:graphicPicker(2)"style="color:gray; font-weight: bold;">
            <div class="border bg-white pv-10" >
              <span>Crescimento Cumulativo Mensal</span><br>
              <img src="http://discourse.metabase.com/uploads/default/original/1X/5665072d585a0cfeaa5c1142f4100b64f11b6b0a.png" height="350" width="350" alt="">
            </div>
          </a>
          <div class="text-chart-init">
              <p>Este gráfico refere-se aos cadastros de espaços por mês.</p>
          </div>
        </div>

        <div class="col-md-4 center flex-column content-chart">
          <a href="http://localhost:8000/space_indicators/graphic" onclick="javascript:graphicPicker(3)"style="color:gray; font-weight: bold;">
            <div class="border bg-white pv-10" >
              <span>Quantidade de Registros por Mês</span><br>
              <img src="http://discourse.metabase.com/uploads/default/original/1X/5665072d585a0cfeaa5c1142f4100b64f11b6b0a.png" height="350" width="350" alt="">
            </div>
          </a>
          <div class="text-chart-init">
              <p>Este gráfico refere-se aos cadastros de espaços por mês.</p>
          </div>
        </div>


        <div class="col-md-4 center flex-column content-chart">
          <a href="http://localhost:8000/space_indicators/graphic" onclick="javascript:graphicPicker(4)"style="color:gray; font-weight: bold;">
            <div class="border bg-white pv-10" >
              <span>Tipos por Instância</span><br>
              <img src="http://discourse.metabase.com/uploads/default/original/1X/5665072d585a0cfeaa5c1142f4100b64f11b6b0a.png" height="350" width="350" alt="">
            </div>
          </a>
          <div class="text-chart-init">
              <p>Este gráfico refere-se aos cadastros em relação aos tipos de instancia.</p>
          </div>
        </div>

        <div class="col-md-4 center flex-column content-chart">
          <a href="http://localhost:8000/space_indicators/graphic" onclick="javascript:graphicPicker(5)"style="color:gray; font-weight: bold;">
            <div class="border bg-white pv-10" >
              <span>Crescimento Cumulativo Mensal por Instância</span><br>
              <img src="http://discourse.metabase.com/uploads/default/original/1X/5665072d585a0cfeaa5c1142f4100b64f11b6b0a.png" height="350" width="350" alt="">
            </div>
          </a>
          <div class="text-chart-init">
              <p>Este gráfico ilustra o crescimento da plataforma em relação ao total de registros de espaço ao longo de sua existência</p>
          </div>
        </div>

        </div>
    </div>
</div>

<script>
function graphicPicker(num) {
    number = num;
    sessionStorage.setItem('num',num);
}
</script>

{% endblock %}
