{% extends 'quero_cultura/base.html' %}

	{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="static/css/agentsIndicators.css"/>

		<div class="indicators_navbar">
			<ul>
				<li id="quantitativo_mensal_button">Quantitativo Mensal</li>
				<li id="agentes_tipo_button">Porcentagem de Agentes por Tipo</li>
				<li id="agentes_area_button">Quantitativo de Agentes por Área de Atuação</li>
				<li id="crescimento_button">Crescimento da Plataforma "Mapas Culturais"</li>
			</ul>
		</div>

		<div id="quantitativo_mensal">
		    <div class="text-chart-init">
		      <h3>Quantitativo Mensal</h3>
		      <p>Este gráfico refere-se à quantidade de Agentes que se cadastraram por mês na plataforma "Mapas Culturais" ao longo de sua existência.</p>
		    </div>

		    <div class="chart-container-month">
		      <canvas id="bar-chart-month"></canvas>
		    </div>
		</div>

		<div id="agentes_tipo">
	    <div class="text-chart">
	      <h3>Porcentagem de Agentes por Tipo</h3>
	      <p>Este gráfico refere-se à porcentagem de agentes que se declaram "Individuais" ou "Coletivos". Agentes individuais são os perfis que representam apenas uma pessoa, enquanto os coletivos podem representar uma empresa, ong, grupo cultural, entre outras entidades coletivas.</p>
	    </div>

	    <div class="chart-container-agents">
	      <canvas id="pie-chart-agents"></canvas>
	    </div>
		</div>

		<div id="agentes_area">
		  <div class="text-chart">
		    <h3>Quantitativo de Agentes por Área de Atuação</h3>
		    <p>Este gráfico refere-se à quantidade de agentes cadastrados que declaram ter afinidade ou efetivamente atuar em determinada área de contibuição cultural."</p>
		  </div>

		  <div class="chart-container-area">
		    <canvas id="bar-chart-area"></canvas>
		  </div>
		</div>

		<div id="crescimento">
		  <div class="text-chart">
		    <h3>Crescimento da Plataforma "Mapas Culturais"</h3>
		    <p>Este gráfico ilustra o crescimento da plataforma "Mapas culturais" em relação ao total de registros de agentes ao longo de sua existência.</p>
		  </div>
		  <div class="chart-container-time">
		    <canvas id="line-chart-time"></canvas>
		  </div>
		</div>

  <script src="static/js/agents_indicators.js"></script>

  <script>

  	var ctx = document.getElementById("line-chart-time");
  	var name_growth = JSON.parse('{{ temporal_keys|safe }}');
  	var temp_growth = JSON.parse('{{ temporal_growth|safe }}');
  	var agentchart = new Chart(ctx, {
  	    type: 'line',
  	    data: {
  	        labels: name_growth,
  	        datasets: [{
  	            label: 'Quantidades total de registros no momento',
  	            data: temp_growth,
  	            fill: false,
  	            borderWidth: 2.5,
  	            borderColor: 'rgba(77,166,253,0.85)',
  	            backgroundColor: 'transparent',
                	bordeCapStyle: 'butt',
                	borderDash: [],
                	borderJoinStyle: 'miter',
                	pointBorderColr: "rgba(75,192,192,1",
                	pointBackgroundcOLOR: "fff",
                	pointBorderWidth: 3,
                	pointHoverRadius: 5,
                	pointHoverBackgroundColor: "rgba(75,192,192,1)",
                	pointHoverBorderColor: "rgba(220,220,220,1)",
                	pointHoverBorderWidth: 2,
                	pointRadius: 1,
                	pointHitRadius: 10,

  	        }]
  	    },

        options: {
                 title: {
                    display: true,
                    text: 'Quantidades de Registros ao longo do tempo'
              }
        }
  	});
	</script>

  <script>

      var ctx_type = document.getElementById("pie-chart-agents");
      var name_type = JSON.parse('{{ per_type_keys|safe }}');
      var value_type = JSON.parse('{{ per_type_values|safe }}');
      var agent_type = new Chart(ctx_type, {
          type: 'pie',
          data: {
              labels: name_type,
              datasets: [{
                  label: 'Points',
                  data: value_type,
                  backgroundColor: [
                    'rgba(255, 51, 51,1)',
                    'rgba(153, 255, 51, 1)',

                  ]

              }]
          },
          options: {
              cutoutPercentage: 50,
              animation:{
                animateScale: true,
              },
              title: {
                display: true,
                text: 'Porcentagem de agentes individuais e coletivos'
              }
           }
      });


  </script>

  <script>

    var ctxArea = document.getElementById("bar-chart-area");
    var nameArea = JSON.parse('{{ per_area_keys|safe }}');
    var amountArea = JSON.parse('{{ per_area_values|safe }}');
    var agentB = new Chart(ctxArea, {
       type: 'bar',
       data: {
           labels: nameArea,
           datasets: [{
               label: 'Área de atuação',
               data: amountArea,
               backgroundColor: poolColors(amountArea.length),

           }]
       },

       options: {
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero:true
                   }
               }]
           },
           legend: {display: true},
           title: {
              display: true,
              text: 'Quantidade de registros por área de atuação'
            }
       }
   });
    function poolColors(a) {
        var pool = [];
        for(i=0;i<a;i++){
            pool.push(dynamicColors());
        }
        return pool;
    }

    function dynamicColors() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
   </script>

    <script>

    var ctx_temporal = document.getElementById("bar-chart-month");
    var name_temporal = JSON.parse('{{ temporal_keys|safe }}');
    var value_temporal = JSON.parse('{{ temporal_values|safe }}');
    var agentB = new Chart(ctx_temporal, {
       type: 'bar',
       data: {
           labels: name_temporal,
           datasets: [{
               label: 'Cadastros no mês',
               data: value_temporal,
               backgroundColor: poolColors(value_temporal.length),

           }]
       },
       options: {
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero:true
                   }
               }]
           },
           legend: {display: false},
           title: {
              display: true,
              text: 'Quantidade de registros cadastrados no mês'
           }
       }
   });

    function poolColors(a) {
        var pool = [];
        for(i=0;i<a;i++){
            pool.push(dynamicColors());
        }
        return pool;
    }

    function dynamicColors() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
   </script>
{% endblock %}
