{% extends 'agents_indicators/base.html' %}

	{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="static/css/agentsIndicators.css"/>

    <div class="text-chart-init">
      <h3>Gráfico: Quantidade mensal</h3>
      <p>Este gráfico refere-se á quantidade de registros cadastrados por mês na plataforma "Mapas culturais"</p>      
    </div>


    <div class="chart-container-month">
      <canvas id="bar-chart-month"></canvas>
    </div>

    <div class="text-chart">
      <h3>Gráfico: Porcentagem </h3>
      <p>Este gráfico refere-se á porcentagem de agentes individuais e coletivo"</p>      
    </div>

    <div class="chart-container-agents">
      <canvas id="pie-chart-agents"></canvas>
    </div>
    
    <div class="text-chart">
      <h3>Gráfico: Quantidade de registros por área de atuação </h3>
      <p>Este gráfico refere-se á quantidade de registros dedicados á diferentes áreas"</p>      
    </div>  

    <div class="chart-container-area">
      <canvas id="bar-chart-area"></canvas>
    </div>

    <div class="text-chart">
      <h3>Gráfico: Quantidade de registros ao longo do tempo</h3>
      <p>Este gráfico refere-se ao crescimento da plataforma "Mapas culturais" em relação ao total de registros cadastrados ao longo dos mêses</p>      
    </div>  
    <div class="chart-container-time">
      <canvas id="line-chart-time"></canvas>
    </div>


  <script>

  	var ctx = document.getElementById("line-chart-time");
  	var names = JSON.parse('{{ temporal_keys|safe }}');
  	var prices = JSON.parse('{{ temporal_growth|safe }}');
  	var agentchart = new Chart(ctx, {
  	    type: 'line',
  	    data: {
  	        labels: names,
  	        datasets: [{
  	            label: 'Quantidades total de registros no momento',
  	            data: prices,
  	            fill: false,
  	            borderWidth: 2.5,
  	            borderColor: 'rgba(77,166,253,0.85)',
  	            backgroundColor: 'transparent',
                	bordeCapStyle: 'butt',
                	borderDash: [],
                	borderJoinStyle: 'miter',
                	pointBorderColr: "rgba(75,192,192,1",
                	pointBackgroundcOLOR: "fff",
                	pointBorderWidth: 3,
                	pointHoverRadius: 5,
                	pointHoverBackgroundColor: "rgba(75,192,192,1)",
                	pointHoverBorderColor: "rgba(220,220,220,1)",
                	pointHoverBorderWidth: 2,
                	pointRadius: 1,
                	pointHitRadius: 10,

  	        }]
  	    },

        options: {
                 title: {
                    display: true,
                    text: 'Quantidades de Registros ao longo do tempo'
              }
        }
  	});
	</script>

  <script>

      var ctxP = document.getElementById("pie-chart-agents");
      var namesP = JSON.parse('{{ per_type_keys|safe }}');
      var pricesP = JSON.parse('{{ per_type_values|safe }}');
      var agentpie = new Chart(ctxP, {
          type: 'pie',
          data: {
              labels: namesP,
              datasets: [{
                  label: 'Points',
                  data: pricesP,
                  backgroundColor: [
                    'rgba(255, 51, 51,1)',
                    'rgba(153, 255, 51, 1)',
                  ]

              }]
          },
          options: {
              cutoutPercentage: 50,
              animation:{
                animateScale: true,
              },
              title: {
                display: true,
                text: 'Porcentagem de agentes individuais e coletivos'
              }
           }
      });


  </script>

  <script>

    var ctxArea = document.getElementById("bar-chart-area");
    var nameArea = JSON.parse('{{ per_area_keys|safe }}');
    var amountArea = JSON.parse('{{ per_area_values|safe }}');
    var agentB = new Chart(ctxArea, {
       type: 'bar',
       data: {
           labels: nameArea,
           datasets: [{
               label: 'Área de atuação',
               data: amountArea,
               backgroundColor: poolColors(amountArea.length),

           }]
       },

       options: {
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero:true
                   }
               }]
           },
           legend: {display: true},
           title: {
              display: true,
              text: 'Quantidade de registros por área de atuação'
            }
       }
   });
    function poolColors(a) {
        var pool = [];
        for(i=0;i<a;i++){
            pool.push(dynamicColors());
        }
        return pool;
    }

    function dynamicColors() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
   </script>

    <script>

    var ctxB = document.getElementById("bar-chart-month");
    var namesB = JSON.parse('{{ temporal_keys|safe }}');
    var pricesB = JSON.parse('{{ temporal_values|safe }}');
    var agentB = new Chart(ctxB, {
       type: 'bar',
       data: {
           labels: namesB,
           datasets: [{
               label: 'Cadastros no mês',
               data: pricesB,
               backgroundColor: poolColors(pricesB.length),

           }]
       },
       options: {
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero:true
                   }
               }]
           },
           legend: {display: false},
           title: {
              display: true,
              text: 'Quantidade de registros cadastrados no mês'
           }
       }
   });

    function poolColors(a) {
        var pool = [];
        for(i=0;i<a;i++){
            pool.push(dynamicColors());
        }
        return pool;
    }

    function dynamicColors() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
   </script>
{% endblock %}
