{% extends 'quero_cultura/base.html' %}

	{% block content %}
    <link rel="stylesheet" href="static/css/agentsIndicators.css"/>

    <div class="text-chart-init">
      <h3>Quantitativo Mensal</h3>
      <p>Este gráfico refere-se à quantidade de Agentes que se cadastraram por mês na plataforma "Mapas Culturais" ao longo de sua existência.</p>
    </div>

    <div class="chart-container-month">
      <canvas id="bar-chart-month"></canvas>
    </div>

    <div class="text-chart">
      <h3>Porcentagem de Agentes por Tipo</h3>
      <p>Este gráfico refere-se à porcentagem de agentes que se declaram "Individuais" ou "Coletivos". Agentes individuais são os perfis que representam apenas uma pessoa, enquanto os coletivos podem representar uma empresa, ong, grupo cultural, entre outras entidades coletivas.</p>
    </div>

    <div class="chart-container-agents">
      <canvas id="pie-chart-agents"></canvas>
    </div>

    <div class="text-chart">
      <h3>Quantitativo de Agentes por Área de Atuação</h3>
      <p>Este gráfico refere-se à quantidade de agentes cadastrados que declaram ter afinidade ou efetivamente atuar em determinada área de contibuição cultural."</p>
    </div>

    <div class="chart-container-area">
      <canvas id="bar-chart-area"></canvas>
    </div>

    <div class="text-chart">
      <h3>Crescimento da Plataforma "Mapas Culturais" </h3>
      <p>Este gráfico ilustra o crescimento da plataforma "Mapas culturais" em relação ao total de registros de agentes ao longo de sua existência.</p>
    </div>
    <div class="chart-container-time">
      <canvas id="line-chart-time"></canvas>
    </div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="static/js/graphics.js"></script>
	<script type="text/javascript">
		temporal_graphic('{{ temporal_keys|safe }}','{{ temporal_values|safe }}')
	 	per_area_graphic('{{ per_area_keys|safe }}','{{ per_area_values|safe }}')
		per_type_graphic('{{ per_type_keys|safe }}','{{ per_type_values|safe }}')
 		per_grow_graphic('{{ temporal_keys|safe }}','{{ temporal_growth|safe }}')
	</script>
{% endblock %}
