
.detailedData{
  padding-top: 40px;
  padding-bottom: 40px;
}

.detailed_data{

  height: 200px;
  overflow: hidden;
}

#graphics-title{

  padding-top: 25px;
}

#graphic-space{
  background-color: #dbdbdb;
}
