<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Quero Cultura</title>
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="static/introjs.css"/>
  <link rel="stylesheet" href="static/css/map.css"/>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-light" id="page-top" onload="checkCookieIntro()">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark " id="mainNav" >
    <a class="navbar-brand" href="" id="idQuero" align="center">Quero Cultura</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Web site Tour">
          <a class="nav-link"  href="javascript:void(0);" onclick="javascript:intro.start();">
            <i class="fa fa-fw fa-map-signs text-light"></i>
            <span class="nav-link-text text-light">Web site Tour</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Projetos">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-file-text-o text-success"></i>
            <span class="nav-link-text text-light">Projetos</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Espaços">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-building-o text-danger"></i>
            <span class="nav-link-text text-light">Espaços</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Agentes">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-user text-info"></i>
            <span class="nav-link-text text-light">Agentes</span>
          </a>
        </li>



        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Eventos">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-calendar-o text-warning"></i>
            <span class="nav-link-text text-light">Eventos</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

    {% block content %}
    {{ content }}
    {% endblock %}

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer" style= "background-color:transparent">
      <div class="container" >
        <div class="text-right">
          <small style="color:white">Copyright © Quero Cultura 2017</small>
          <img src="static/images/logo.png" height="60" width="59" alt="">
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="static/vendor/chart.js/Chart.min.js"></script>
    <script src="static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="static/js/sb-admin-datatables.min.js"></script>
    <script src="static/js/sb-admin-charts.min.js"></script>
    <script type = "text/javascript" src="static/intro.js"></script>


    <script>

    //Create web site tour

    var intro = introJs();
  		 intro.setOptions({
  			 steps: [

  				 {
  							intro: "<h2>Bem vindo</h2>O QueroCultura é uma plataforma Web de visualização de dados. Vamos começar o tour !"
  				 },

  				 {

  							intro: '<h2>Mapa</h2>Aqui no mapa você poderá ver as últimas atualizações da plataforma <a target="_blank" href="http://mapas.cultura.gov.br">Mapas Culturais</a>.'
  					},

  					{

  						 intro: '<h2>Marcadores</h2> Os marcadores do mapa são separados por cor, vamos ver o que cada um significa! ',
  					},

            {

  						 intro: '<h2>Agentes</h2> Os marcadores de agentes são identificados pela cor azul, como na imagem: <img src="static/images/marker_4.png" height="35" width="35" /> ',
  					},

            {

  						 intro: '<h2>Espaços</h2> Os marcadores de espaços são identificados pela cor vermelha, como na imagem: <img src="static/images/marker_2.png" height="35" width="35" /> ',
  					},

            {

  						 intro: '<h2>Evento</h2> Os marcadores de eventos são identificados pela cor amarela, como na imagem: <img src="static/images/marker_6.png" height="35" width="35" /> ',
  					},

            {

  						 intro: '<h2>Projetos</h2> Os marcadores de projetos são identificados pela cor verde, como na imagem: <img src="static/images/marker_7.png" height="35" width="35" /> ',
  					},

            {
              intro: '<h2>Indicadores</h2> Os indicadores são informações determinadas pelos os dados coletados da plataforma <a target="_blank" href="http://mapas.cultura.gov.br">Mapas Culturais</a>, você pode ver as opções de indicadores clicando no botão: <img src="static/images/indicadoresButton.png"  height="35" width="35"  />',

  					},

            {
              intro: '<h2>Fim !</h2> Agora que você chegou ao final do tour, visite o site e caso queira fazer o tour novamente clique na imagem:  <img src="static/images/mapIcon.png"  height="35" width="35"  />',

            },


  			]
  		})


  </script>

  <script type="text/javascript">
    function checkCookieIntro(){
       var cookie=getCookie("mySite");

       if (cookie==null || cookie=="") {
          setCookie("mySite", "1",90);
          intro.start();  //change this to whatever function you need to call to run the intro
          }
    }

  </script>


  </div>

</body>

</html>
