{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Quero Cultura</title>
  <!-- Bootstrap core CSS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/introjs.css'%}"/>
  <!--<link href="static/introjs-nassim.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{% static 'css/map.css' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-light" id="page-top">

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
    <a class="navbar-brand" href="/" id="idQuero" align="center">Quero Cultura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Eventos">
          <a class="nav-link" href="{%url 'eventos'%}">
            <span class="nav-link-text text-light">Eventos</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Espaços">
          <a class="nav-link" href="{%url 'espacos'%}">
            <span class="nav-link-text text-light">Espaços</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Agentes">
          <a class="nav-link" href="{%url 'agentes'%}">
            <span class="nav-link-text text-light">Agentes</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Projetos">
          <a class="nav-link" href="{%url 'projetos'%}">
            <span class="nav-link-text text-light">Projetos</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Museus">
          <a class="nav-link" href="{%url 'museus'%}">
            <span class="nav-link-text text-light">Museus</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bibliotecas">
          <a class="nav-link" href="{%url 'bibliotecas'%}">
            <span class="nav-link-text text-light">Bibliotecas</span>
          </a>
        </li>
        
        <li class="nav-item" title="Web site Tour">
          <a class="nav-link"  href="javascript:void(0);" onclick="javascript:startIntro(pageDef);">
            <i class="fa fa-fw fa fa-question-circle text-light" id="tourButton"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

    {% block content %}
    {{ content }}
    {% endblock %}

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer" style= "background-color:transparent">
      <div class="container" >
        <div class="text-right">
          <small style="color:white">Copyleft Quero Cultura 2017</small>
          <img src="{% static 'images/logo.png' %}" height="60" width="59" alt="">
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <!-- Custom scripts for this page-->
    <script type="text/javascript" src="https://rawgit.com/usablica/intro.js/master/intro.js"></script>
    <!-- script type="text/javascript" src="{% static 'js/intro.js' %}"></script -->
    <script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tour.js' %}"></script>


  </div>

</body>

</html>
