<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
	   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
	   crossorigin=""/>
	<link rel="stylesheet" href="static/css/map.css"/>
	<title></title>
	<link rel="stylesheet" href="">
</head>

<body>
	<header></header>

	<input type="checkbox" id="check">
	<label id="icone-menu" for="check"><img src="../static/images/icone.png"></label>

	<div class="bg"></div>

	<div class="bar-nav">
		<nav>
			<a href="#"><div class="link">Projetos</div></a>
			<a href="#"><div class="link">Eventos</div></a>
			<a href="#"><div class="link">Museus</div></a>
			<a href="#"><div class="link">Bibliotecas</div></a>
			<a href="#"><div class="link">Agentes</div></a>
		</nav>
	</div>


	<div class="map-container">
		<div id="mapid"></div>
	</div>

</body>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
crossorigin=""></script>
<script type = "text/javascript" src="static/js/map.js"></script>

{%for map in mapPoints%}

	<script>


		var latitude = "{{map.latitudePoint}}";
		var longitude = "{{map.longitudePoint}}";
		var typePoint = "{{map.typePoint}}";


		make_marker(latitude, longitude, typePoint);

	</script>

{% endfor %}

</html>
